In [27]:
# Dependencies and Setup
import pandas as pd

# CSV file to load
file_to_load = "Resources/purchase_data.csv"

# Read Purchase Data File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [28]:
# Get count of total (unique) players and display them 
player_count = purchase_data['SN'].nunique()
print(f"PLAYER COUNT")
print(f"_" * 30)
print(f"\nTotal Number of Players: {player_count}")

PLAYER COUNT
______________________________

Total Number of Players: 576

In [31]:
# Run basic calculations on the data frame to come up with a purchase analysis 

# Calculate number of unique items, average purchase price, total number of purchases and total revenue
unique_items = purchase_data['Item ID'].nunique()
average_price = purchase_data['Price'].mean()
total_purchases = purchase_data['Purchase ID'].nunique()
total_revenue = purchase_data['Price'].sum()

# Create a summary data frame to hold the analyzed results
purchase_analysis = [(unique_items, average_price, total_purchases, total_revenue)]
purchase_summary = pd.DataFrame(purchase_analysis, columns=["Number of Unique Items","Average Price","Number of Purchases","Total Revenue"])

# Format the average price and total revenue values
purchase_summary["Average Price"] = purchase_summary["Average Price"].map("${:.2f}".format)
purchase_summary["Total Revenue"] = purchase_summary["Total Revenue"].map("${:,.2f}".format)

# Display summary data frame 
purchase_summary

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77