In [115]:
# Dependencies and Setup
import pandas as pd

# CSV file to load
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing Data File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [116]:
# Get the count of total (unique) players and display them 
player_count = purchase_data['SN'].nunique()
print(f"PLAYER COUNT")
print(f"_" * 30)
print(f"\nTotal Number of Players: {player_count}")

PLAYER COUNT
______________________________

Total Number of Players: 576

In [117]:
# Run basic calculations on the data frame to come up with a total purchase analysis 
# Calculate number of unique items, average purchase price, total number of purchases and total revenue
unique_items = purchase_data['Item ID'].nunique()
average_price = purchase_data['Price'].mean()
total_purchases = purchase_data['Purchase ID'].nunique()
total_revenue = purchase_data['Price'].sum()

# Create a summary data frame to hold the analyzed results
purchase_analysis = [(unique_items, average_price, total_purchases, total_revenue)]
purchase_summary = pd.DataFrame(purchase_analysis, columns=['Number of Unique Items','Average Price','Number of Purchases','Total Revenue'])

# Format the average price and total revenue values
purchase_summary['Average Price'] = purchase_summary['Average Price'].map("${:.2f}".format)
purchase_summary['Total Revenue'] = purchase_summary['Total Revenue'].map("${:,.2f}".format)

# Display Purchase Analysis Summary data frame 
print(f"PURCHASE ANALYSIS")
print(f"_" * 77)
purchase_summary

PURCHASE ANALYSIS
_____________________________________________________________________________

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

In [118]:
# De-dup data frame so we can get a new data frame of unique players only
unique_players = purchase_data.drop_duplicates(subset='SN')

# Get count of players based on their gender
gender_counts = unique_players['Gender'].value_counts()

# Save gender counts to a new summary data frame
gender_summary = pd.DataFrame(gender_counts)

# Calculate the percentage of players for each gender
gender_summary['Percentage of Players'] = gender_summary['Gender'] / gender_summary['Gender'].sum()

# Round the percentage column to two decimal points in the summary data frame
gender_summary['Percentage of Players'] = gender_summary['Percentage of Players'].map("{:.2%}".format)

# Display Gender Demographics Summary data frame 
print(f"GENDER DEMOGRAPHICS")
print(f"_" * 53)
gender_summary

GENDER DEMOGRAPHICS
_____________________________________________________

                       Gender Percentage of Players
Male                      484                84.03%
Female                     81                14.06%
Other / Non-Disclosed      11                 1.91%

In [127]:
# Group the original data frame by Gender to run a Gender-based purchase analysis
gender_demographics = purchase_data.groupby(['Gender'])

# Calculate purchase count, average purchase price, total purchase value and average purchase total per person
# These are all saved as Series data type
purchase_count = gender_demographics['Purchase ID'].nunique()
average_purchase_price = gender_demographics['Price'].mean()
total_purchase_price = gender_demographics['Price'].sum()
average_purchase_total_per_player = total_purchase_price / gender_counts

# Save the purchase analyses Series' to a Dictionary
purchase_analysis_by_gender = { 'Purchase Count': purchase_count, 'Average Purchase Price': average_purchase_price, 'Total Purchase Value': total_purchase_price, 'Avg Total Purchase per Person': average_purchase_total_per_player }

# Create Purchase Analysis Summary data frame from the Dictionary
purchase_summary_by_gender = pd.DataFrame(purchase_analysis_by_gender)

# Format all the price columns in the data frame
purchase_summary_by_gender['Average Purchase Price'] = purchase_summary_by_gender['Average Purchase Price'].map("${:.2f}".format)
purchase_summary_by_gender['Total Purchase Value'] = purchase_summary_by_gender['Total Purchase Value'].map("${:,.2f}".format)
purchase_summary_by_gender['Avg Total Purchase per Person'] = purchase_summary_by_gender['Avg Total Purchase per Person'].map("${:.2f}".format)

# Display Purchase Analysis Summary data frame
print(f"PURCHASE ANALYSIS (BY GENDER)")
print(f"_" * 114)
purchase_summary_by_gender

PURCHASE ANALYSIS (BY GENDER)
___________________________________________________________________________________________________________________

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [120]:
# Establish bins for player ages
max_age = unique_players['Age'].max()
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, max_age]
age_categories = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

# Categorize players using the age bins
unique_players.loc[:,'Age Category'] = (pd.cut(unique_players.loc[:,'Age'], age_bins, labels=age_categories))

# Calculate the total number of players by age group
player_counts_by_age = unique_players['Age Category'].value_counts()

# Create a summary data frame to hold the results
age_summary_data = pd.DataFrame(player_counts_by_age)
age_summary_data = age_summary_data.rename(columns={'Age Category': 'Total Count'})

# Calculate the percentage of players by age group
age_summary_data['Percentage of Players'] = age_summary_data['Total Count'] / age_summary_data['Total Count'].sum()

# Round the percentage column to two decimal points in the summary data frame
age_summary_data['Percentage of Players'] = age_summary_data['Percentage of Players'].map("{:.2%}".format)

# Display Age Demographics Summary data frame
print(f"AGE DEMOGRAPHICS")
print(f"_" * 42)
age_summary_data

AGE DEMOGRAPHICS
__________________________________________

       Total Count Percentage of Players
20-24          258                44.79%
15-19          107                18.58%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
10-14           22                 3.82%
<10             17                 2.95%
40+             12                 2.08%

In [141]:
# Establish bins for player ages
max_age = purchase_data['Age'].max()
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, max_age]
age_categories = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

# Categorize players using the age bins
purchase_data.loc[:,'Age Category'] = (pd.cut(purchase_data.loc[:,'Age'], age_bins, labels=age_categories))

# Group the original data frame by Age to run an Age-based purchase analysis
age_demographics = purchase_data.groupby(['Age Category'])

# Calculate purchase count, average purchase price, total purchase value and average purchase total per person
# These are all saved as Series data type
purchase_count = age_demographics['Purchase ID'].nunique()
average_purchase_price = age_demographics['Price'].mean()
total_purchase_price = age_demographics['Price'].sum()
average_purchase_total_per_player = total_purchase_price / player_counts_by_age

# Save the purchase analyses Series' to a Dictionary
purchase_analysis_by_age = { 'Purchase Count': purchase_count, 'Average Purchase Price': average_purchase_price, 'Total Purchase Value': total_purchase_price, 'Avg Total Purchase per Person': average_purchase_total_per_player }

# Create Purchase Analysis Summary data frame from the Dictionary
purchase_summary_by_age = pd.DataFrame(purchase_analysis_by_age)
purchase_summary_by_age.index.names = ['Age Ranges']

# Format all the price columns in the data frame
purchase_summary_by_age['Average Purchase Price'] = purchase_summary_by_age['Average Purchase Price'].map("${:.2f}".format)
purchase_summary_by_age['Total Purchase Value'] = purchase_summary_by_age['Total Purchase Value'].map("${:,.2f}".format)
purchase_summary_by_age['Avg Total Purchase per Person'] = purchase_summary_by_age['Avg Total Purchase per Person'].map("${:.2f}".format)

# Display Purchase Analysis Summary data frame
print(f"PURCHASE ANALYSIS (BY AGE)")
print(f"_" * 103)
purchase_summary_by_age

PURCHASE ANALYSIS (BY AGE)
_______________________________________________________________________________________________________

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19