In [451]:
# Dependencies and Setup
import pandas as pd

# File to Load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Rename columns in both data frames for consistency and clarity
school_data = school_data.rename(columns = {'school_name':'School Name', 'type':'School Type', 'size':'School Size', 'budget':'School Budget'})
student_data = student_data.rename(columns = {'student_name':'Student Name', 'gender':'Gender', 'grade':'Grade', 'school_name':'School Name', 'math_score':'Math Score', 'reading_score':'Reading Score'})

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how='left', on=['School Name', 'School Name'])

In [452]:
school_data_complete.head()

,Student ID,Student Name,Gender,Grade,School Name,Reading Score,Math Score,School ID,School Type,School Size,School Budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [453]:
## SCHOOL DISTRICT SUMMARY
## -----------------------
## Generate high-level snapshot (in table form) of the district's key metrics

# Calculate the total number of schools
total_schools = school_data['School ID'].count()

# Calculate the total number of students
total_students = student_data['Student ID'].count()

# Calculate the total budget
total_budget = school_data['School Budget'].sum()

# Calculate the average math score
average_math_score = student_data['Math Score'].mean()
 
# Calculate the average reading score
average_reading_score = student_data['Reading Score'].mean()

# Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
overall_passing_rate = (average_math_score + average_reading_score) / 2

# Calculate the percentage of students with a passing math score (70 or greater)
passing_math_score = student_data[student_data['Math Score'] >= 70]
percent_passing_math = (passing_math_score['Math Score'].count() / total_students) * 100

# Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading_score = student_data[student_data['Reading Score'] >= 70]
percent_passing_reading = (passing_reading_score['Reading Score'].count() / total_students) * 100

# Create a summary dataframe to hold the above results
school_district_summary = pd.DataFrame([(total_schools, total_students, total_budget, average_math_score, average_reading_score, percent_passing_math, percent_passing_reading, overall_passing_rate)], columns=['Total Schools','Total Students','Total Budget','Average Math Score','Average Reading Score', '% Passing Math','% Passing Reading', 'Overall Passing Rate'])

# Format the total budget column
school_district_summary['Total Budget'] = school_district_summary['Total Budget'].map("${:,.2f}".format)

# Display School District Summary data frame 
print(f"SCHOOL DISTRICT SUMMARY")
print(f"_" * 147)
school_district_summary

SCHOOL DISTRICT SUMMARY
___________________________________________________________________________________________________________________________________________________

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,39170,"$24,649,428.00",78.985371,81.87784,74.980853,85.805463,80.431606

In [454]:
## SCHOOL SUMMARY
## --------------
## Create an overview table that summarizes key metrics about each school

# Group the merged data frame by Schools to run analysis on each School
schools_grouped = school_data_complete.groupby(['School Name'])

# Get the type of school
school_type = schools_grouped['School Type'].max()

# Calculate the total number of students in the school
total_school_students = schools_grouped['Student ID'].count()

# Calculate the total school budget
total_school_budget = schools_grouped['School Budget'].max()

# Calculate the per student budget for each school
per_student_school_budget = total_school_budget / total_school_students

# Calculate the average math score for each school
average_school_math_score = schools_grouped['Math Score'].mean()

# Calculate the average reading score for each school
average_school_reading_score = schools_grouped['Reading Score'].mean() 

# Group the merged data frame by Schools once again, but based on passing math scores 70 or above
school_passing_math_score = school_data_complete[school_data_complete['Math Score'] >= 70].groupby(['School Name'])
# Calculate the % passing math score for each school
percent_school_passing_math_score = (school_passing_math_score['Student ID'].count() / total_school_students) * 100

# Group the merged data frame by Schools once again, but based on passing reading scores 70 or above
school_passing_reading_score = school_data_complete[school_data_complete['Reading Score'] >= 70].groupby(['School Name'])
# Calculate the % reading score for each school
percent_school_passing_reading_score = (school_passing_reading_score['Student ID'].count() / total_school_students) * 100

# Calculate the overall passing rate for each school (average of the above two)
overall_school_passing_rate = (percent_school_passing_math_score + percent_school_passing_reading_score) / 2

# Save all of the school metrics to a Data Frame
school_metrics_summary = pd.DataFrame({ 'School Type': school_type, 'Total Students': total_school_students, 'Total School Budget': total_school_budget, 'Per Student Budget': per_student_school_budget, 'Average Math Score': average_school_math_score, 'Average Reading Score': average_school_reading_score, '% Passing Math': percent_school_passing_math_score, '% Passing Reading': percent_school_passing_reading_score, '% Overall Passing Rate': overall_school_passing_rate} )

# Format the budget columns
school_metrics_summary['Total School Budget'] = school_metrics_summary['Total School Budget'].map("${:,.2f}".format)
school_metrics_summary['Per Student Budget'] = school_metrics_summary['Per Student Budget'].map("${:,.2f}".format)

# Display metrics for all schools
school_metrics_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,94.972222

In [455]:
## TOP PERFORMING SCHOOLS BY PASSING RATE
## --------------------------------------

# Sort and display the top five schools in overall passing rate
top_passing_rate_schools = school_metrics_summary.sort_values('% Overall Passing Rate', ascending=False)
top_passing_rate_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Name,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,95.203679

In [456]:
## BOTTOM PERFORMING SCHOOLS BY PASSING RATE
## -----------------------------------------

# Sort and display the five worst-performing schools in overall passing rate
bottom_passing_rate_schools = school_metrics_summary.sort_values('% Overall Passing Rate')
bottom_passing_rate_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Name,,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,73.804308

In [457]:
## MATH SCORES BY GRADE
## --------------------
## Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

# Create a series for each grade
ninth_grade = student_data[student_data['Grade'] == '9th']
tenth_grade = student_data[student_data['Grade'] == '10th']
eleventh_grade = student_data[student_data['Grade'] == '11th']
twelfth_grade = student_data[student_data['Grade'] == '12th']

# Group each series by school
ninth_grade_school = ninth_grade.groupby('School Name')
tenth_grade_school = tenth_grade.groupby('School Name')
eleventh_grade_school = eleventh_grade.groupby('School Name')
twelfth_grade_school = twelfth_grade.groupby('School Name')

# Calculate average math score for students of each grade level (9th, 10th, 11th, 12th) at each school
avg_ninth_grade_math_score = ninth_grade_school['Math Score'].mean()
avg_tenth_grade_math_score = tenth_grade_school['Math Score'].mean()
avg_eleventh_grade_math_score = eleventh_grade_school['Math Score'].mean()
avg_twelfth_grade_math_score = twelfth_grade_school['Math Score'].mean()

# Combine the series into a dataframe
math_score_by_grade = pd.DataFrame( {'9th Grade': avg_ninth_grade_math_score, '10th Grade': avg_tenth_grade_math_score, '11th Grade': avg_eleventh_grade_math_score, '12th Grade': avg_twelfth_grade_math_score })

# Display the average math scores by grade data frame
math_score_by_grade

                       9th Grade  10th Grade  11th Grade  12th Grade
School Name
Bailey High School     77.083676   76.996772   77.515588   76.492218
Cabrera High School    83.094697   83.154506   82.765560   83.277487
Figueroa High School   76.403037   76.539974   76.884344   77.151369
Ford High School       77.361345   77.672316   76.918058   76.179963
Griffin High School    82.044010   84.229064   83.842105   83.356164
Hernandez High School  77.438495   77.337408   77.136029   77.186567
Holden High School     83.787402   83.429825   85.000000   82.855422
Huang High School      77.027251   75.908735   76.446602   77.225641
Johnson High School    77.187857   76.691117   77.491653   76.863248
Pena High School       83.625455   83.372000   84.328125   84.121547
Rodriguez High School  76.859966   76.612500   76.395626   77.690748
Shelton High School    83.420755   82.917411   83.383495   83.778976
Thomas High School     83.590022   83.087886   83.498795   83.497041
Wilson High School     83.085578   83.724422   83.195326   83.035794
Wright High School     83.264706   84.010288   83.836782   83.644986

In [458]:
## READING SCORES BY GRADE
## -----------------------
## Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

# Create a series for each grade
ninth_grade = student_data[student_data['Grade'] == '9th']
tenth_grade = student_data[student_data['Grade'] == '10th']
eleventh_grade = student_data[student_data['Grade'] == '11th']
twelfth_grade = student_data[student_data['Grade'] == '12th']

# Group each series by school
ninth_grade_school = ninth_grade.groupby('School Name')
tenth_grade_school = tenth_grade.groupby('School Name')
eleventh_grade_school = eleventh_grade.groupby('School Name')
twelfth_grade_school = twelfth_grade.groupby('School Name')

# Calculate average math score for students of each grade level (9th, 10th, 11th, 12th) at each school
avg_ninth_grade_reading_score = ninth_grade_school['Reading Score'].mean()
avg_tenth_grade_reading_score = tenth_grade_school['Reading Score'].mean()
avg_eleventh_grade_reading_score = eleventh_grade_school['Reading Score'].mean()
avg_twelfth_grade_reading_score = twelfth_grade_school['Reading Score'].mean()

# Combine the series into a dataframe
reading_score_by_grade = pd.DataFrame( {'9th Grade': avg_ninth_grade_reading_score, '10th Grade': avg_tenth_grade_reading_score, '11th Grade': avg_eleventh_grade_reading_score, '12th Grade': avg_twelfth_grade_reading_score })

# Display the average reading scores by grade data frame
reading_score_by_grade

                       9th Grade  10th Grade  11th Grade  12th Grade
School Name
Bailey High School     81.303155   80.907183   80.945643   80.912451
Cabrera High School    83.676136   84.253219   83.788382   84.287958
Figueroa High School   81.198598   81.408912   80.640339   81.384863
Ford High School       80.632653   81.262712   80.403642   80.662338
Griffin High School    83.369193   83.706897   84.288089   84.013699
Hernandez High School  80.866860   80.660147   81.396140   80.857143
Holden High School     83.677165   83.324561   83.815534   84.698795
Huang High School      81.290284   81.512386   81.417476   80.305983
Johnson High School    81.260714   80.773431   80.616027   81.227564
Pena High School       83.807273   83.612000   84.335938   84.591160
Rodriguez High School  80.993127   80.629808   80.864811   80.376426
Shelton High School    84.122642   83.441964   84.373786   82.781671
Thomas High School     83.728850   84.254157   83.585542   83.831361
Wilson High School     83.939778   84.021452   83.764608   84.317673
Wright High School     83.833333   83.812757   84.156322   84.073171

In [459]:
## SCORES BY SCHOOL SPENDING
## ------------------------
## Create a table that breaks down school performances based on average Spending Ranges (Per Student). 

# Establish bins for school spending
max_budget = school_data['School Budget'].max()
spending_bins = [0, 585000, 1150000, 1725000, 2875000, max_budget]
spending_groups = ["<$585K", "$585K-1.15M", "$1.15M-$1.725M", "$1.725M-$2.875M", ">$2.875M"]

# Categorize the schools based on the spending bins
school_data_complete.loc[:,'School Budget'] = pd.cut(school_data_complete.loc[:,'School Budget'], spending_bins, labels=spending_groups)

# Group the complete schools data frame by budget to run a spending-based analysis 
school_spending_groups = school_data_complete.groupby(['School Budget'])

# Calculate number of students
num_students = school_spending_groups['Student ID'].count()

# Calculate the average math score for each school
avg_math_score_spending = school_spending_groups['Math Score'].mean()

# Calculate the average reading score for each school
avg_reading_score_spending = school_spending_groups['Reading Score'].mean() 

# Calculate the percentage of students with a passing math score (70 or greater)
passing_math_score_spending = school_data_complete[school_data_complete['Math Score'] >= 70].groupby(['School Budget'])
percent_passing_math_spending = (passing_math_score_spending['Math Score'].count() / num_students) * 100

# Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading_score_spending = school_data_complete[school_data_complete['Reading Score'] >= 70].groupby(['School Budget'])
percent_passing_reading_spending = (passing_reading_score_spending['Reading Score'].count() / num_students) * 100

# Calculate the percent of overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
overall_passing_rate_spending = (percent_passing_math_spending + percent_passing_reading_spending) / 2

# Save all of the school spending metrics to a Data Frame
scores_school_spending = pd.DataFrame({ 'Average Math Score': avg_math_score_spending, 'Average Reading Score': avg_reading_score_spending, '% Passing Math': percent_passing_math_spending, '% Passing Reading': percent_passing_reading_spending, '% Overall Passing Rate': overall_passing_rate_spending} )

# Display scores based on the school spending
scores_school_spending

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Budget,,,,,
<$585K,83.803279,83.814988,92.505855,96.252927,94.379391
$585K-1.15M,83.420076,83.885913,93.715732,96.689161,95.202446
$1.15M-$1.725M,83.274201,83.989488,93.867718,96.539641,95.203679
$1.725M-$2.875M,76.819184,80.943113,66.542368,80.395113,73.468740
>$2.875M,77.134219,80.979474,66.497356,81.352630,73.924993

In [460]:
## SCORES BY SCHOOL SIZE
## ----------------------
## Create a table that breaks down school performances based on a reasonable approximation of school size (Small, Medium, Large).

# Establish bins for school sizes
size_bins = [0, 1000, 2000, 5000]
size_groups = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# Categorize the schools based on the size bins
school_data_complete.loc[:,'School Size'] = pd.cut(school_data_complete.loc[:,'School Size'], size_bins, labels=size_groups)

# Group the complete schools data frame by school size to run a size-based analysis 
school_size_groups = school_data_complete.groupby(['School Size'])

# Calculate number of students
num_students = school_size_groups['Student ID'].count()

# Calculate the average math score for each school
avg_math_score_size= school_size_groups['Math Score'].mean()

# Calculate the average reading score for each school
avg_reading_score_size = school_size_groups['Reading Score'].mean() 

# Calculate the percentage of students with a passing math score (70 or greater)
passing_math_score_size = school_data_complete[school_data_complete['Math Score'] >= 70].groupby(['School Size'])
percent_passing_math_size = (passing_math_score_size['Math Score'].count() / num_students) * 100

# Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading_score_size = school_data_complete[school_data_complete['Reading Score'] >= 70].groupby(['School Size'])
percent_passing_reading_size = (passing_reading_score_size['Reading Score'].count() / num_students) * 100

# Calculate the percent of overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
overall_passing_rate_size = (percent_passing_math_size + percent_passing_reading_size) / 2

# Save all of the school spending metrics to a Data Frame
scores_school_size = pd.DataFrame({ 'Average Math Score': avg_math_score_size, 'Average Reading Score': avg_reading_score_size, '% Passing Math': percent_passing_math_size, '% Passing Reading': percent_passing_reading_size, '% Overall Passing Rate': overall_passing_rate_size} )

# Display scores based on the school spending
scores_school_size

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
Small (<1000),83.828654,83.974082,93.952484,96.040317,94.996400
Medium (1000-2000),83.372682,83.867989,93.616522,96.773058,95.194790
Large (2000-5000),77.477597,81.198674,68.652380,82.125158,75.388769

In [461]:
## SCORES BY SCHOOL TYPE
## ----------------------
## Create a table that breaks down school performances based on school type (Charter vs. District).

# Group the complete schools data frame by school type to run a type-based analysis 
school_type_groups = school_data_complete.groupby(['School Type'])

# Calculate number of students
num_students = school_type_groups['Student ID'].count()

# Calculate the average math score for each school
avg_math_score_type= school_type_groups['Math Score'].mean()

# Calculate the average reading score for each school
avg_reading_score_type = school_type_groups['Reading Score'].mean() 

# Calculate the percentage of students with a passing math score (70 or greater)
passing_math_score_type = school_data_complete[school_data_complete['Math Score'] >= 70].groupby(['School Type'])
percent_passing_math_type = (passing_math_score_type['Math Score'].count() / num_students) * 100

# Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading_score_type = school_data_complete[school_data_complete['Reading Score'] >= 70].groupby(['School Type'])
percent_passing_reading_type = (passing_reading_score_type['Reading Score'].count() / num_students) * 100

# Calculate the percent of overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
overall_passing_rate_type = (percent_passing_math_type + percent_passing_reading_type) / 2

# Save all of the school spending metrics to a Data Frame
scores_school_type = pd.DataFrame({ 'Average Math Score': avg_math_score_type, 'Average Reading Score': avg_reading_score_type, '% Passing Math': percent_passing_math_type, '% Passing Reading': percent_passing_reading_type, '% Overall Passing Rate': overall_passing_rate_type} )

# Display scores based on the school spending
scores_school_type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Type,,,,,
Charter,83.406183,83.902821,93.701821,96.645891,95.173856
District,76.987026,80.962485,66.518387,80.905249,73.711818